@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
#fondoaboutus {
  background-image: url(../Imagenes/fondoaboutus.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fondoaboutus .header1 .navbar {
  margin-top: -4.7rem;
}
#fondoaboutus .contenedor-total-2 {
  display: grid;
  grid-template-columns: 70rem 60rem 60rem;
  grid-template-rows: 25rem 35rem 25rem 35rem;
  grid-template-areas: "video text3 photo2" "video text3 photo2" "text4 video2 photo2" "text4 video2 photo2";
  justify-items: center;
  align-items: center;
  gap: 5px;
  padding: 11rem;
}
#fondoaboutus .contenedor-total-2 .video {
  grid-area: video;
  width: 55em;
  height: 55rem;
}
#fondoaboutus .contenedor-total-2 .video .iframe {
  width: 55em;
  height: 55rem;
}
#fondoaboutus .contenedor-total-2 .photo2 {
  grid-area: photo2;
}
#fondoaboutus .contenedor-total-2 .photo2 .spacexrocket {
  width: 20rem;
}
#fondoaboutus .contenedor-total-2 .text2 {
  grid-area: text3;
  padding: 4rem;
  height: 55rem;
  width: 55rem;
  border-radius: 3rem;
  text-align: center;
  background: rgb(24, 38, 53);
  background: linear-gradient(51deg, rgba(24, 38, 53, 0) 21%, rgba(24, 38, 53, 0.2329306723) 34%, rgba(30, 53, 71, 0.3757878151) 75%, rgba(13, 34, 51, 0.8323704482) 100%);
}
#fondoaboutus .contenedor-total-2 .video2 {
  grid-area: video2;
  width: 55em;
  height: 55rem;
}
#fondoaboutus .contenedor-total-2 .video2 .iframe {
  width: 55em;
  height: 55rem;
}
#fondoaboutus .contenedor-total-2 .text4 {
  grid-area: text4;
  padding: 4rem;
  height: 55rem;
  width: 55rem;
  border-radius: 3rem;
  text-align: center;
  background: rgb(24, 38, 53);
  background: linear-gradient(223deg, rgba(24, 38, 53, 0) 21%, rgba(24, 38, 53, 0.2329306723) 34%, rgba(30, 53, 71, 0.3757878151) 75%, rgba(13, 34, 51, 0.8323704482) 100%);
}
#fondoaboutus .contenedor-total-2 .photo3 {
  grid-area: photo3;
}
#fondoaboutus .contenedor-total-2 .photo3 .elon1 {
  width: 47rem;
}

@media screen and (max-width: 768px) {
  #fondoaboutus .contenedor-total-2 {
    grid-template-columns: 80rem;
    grid-template-rows: 60rem 55rem 60rem 65rem;
    grid-template-areas: "text3" "video" "text4" "video2";
    gap: 15px;
    padding: 0rem;
  }
  #fondoaboutus .contenedor-total-2 .video .video2 {
    width: 25em;
    height: 35rem;
  }
  #fondoaboutus .contenedor-total-2 .video .video2 .iframe {
    width: 25em;
    height: 35rem;
  }
  #fondoaboutus .photo2 {
    display: none;
  }
  #fondoaboutus .navbar .button-move {
    margin-top: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  #fondoaboutus .contenedor-total-2 {
    grid-template-columns: 100%;
    grid-template-rows: 60rem 45rem 55rem 50rem;
    gap: 5px;
    padding: 0rem;
  }
  #fondoaboutus .contenedor-total-2 .video {
    width: 35em;
    height: 40rem;
  }
  #fondoaboutus .contenedor-total-2 .video .iframe {
    width: 100%;
    height: 100%;
  }
  #fondoaboutus .contenedor-total-2 .video2 {
    width: 35em;
    height: 40rem;
  }
  #fondoaboutus .contenedor-total-2 .video2 .iframe {
    width: 100%;
    height: 100%;
  }
  #fondoaboutus .contenedor-total-2 .photo2 {
    display: none;
  }
  #fondoaboutus .contenedor-total-2 .text2 {
    margin-top: 6rem;
    padding: 3rem;
    height: 55rem;
    width: 36rem;
  }
  #fondoaboutus .contenedor-total-2 .text2 .text3 {
    font-size: 1.2rem;
  }
  #fondoaboutus .contenedor-total-2 .text4 {
    margin-top: 6rem;
    padding: 3rem;
    height: 55rem;
    width: 36rem;
  }
  #fondoaboutus .contenedor-total-2 .text4 .text3 {
    font-size: 1.2rem;
  }
}
#fondogallery {
  background-image: url(../Imagenes/fondogallery.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fondogallery .header1 .navbar {
  margin-top: -4.7rem;
}
#fondogallery .carousel-change {
  line-height: 300px;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  align-content: center;
}
#fondogallery .carousel-change .carousel-change-2 {
  height: 70rem;
}
#fondogallery .carousel-change .arrow {
  width: 11rem;
  height: 10rem;
}
#fondogallery .margins {
  margin-bottom: -40rem;
}
#fondogallery .gal1 {
  transform: translate(130rem, -20rem);
}
#fondogallery .gal2 {
  transform: translate(-45rem, -10rem);
}

@media screen and (max-width: 768px) {
  #fondogallery {
    background-image: url(../Imagenes/gallery-mobile-09.png);
  }
  #fondogallery .header1 #navbarText {
    z-index: 100;
  }
  #fondogallery .carousel-indicators {
    display: none;
  }
  #fondogallery .carousel-change {
    margin-top: 2rem;
    width: 65rem;
    height: 60rem;
  }
  #fondogallery .row-mobile {
    display: none;
  }
  #fondogallery .gal1 {
    height: 25rem;
    transform: translate(-3rem, -20rem);
  }
  #fondogallery .gal2 {
    height: 25rem;
    transform: translate(26rem, 20rem);
  }
  #fondogallery .navbar .button-move {
    margin-top: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  #fondogallery .header1 #navbarText {
    z-index: 100;
  }
  #fondogallery .carousel-change {
    margin-top: 1rem;
    width: 40rem;
    height: 45rem;
  }
  #fondogallery .gal1 {
    height: 15rem;
    transform: translate(-1rem, -6rem);
  }
  #fondogallery .gal2 {
    height: 15rem;
    transform: translate(11rem, 30rem);
  }
}
@media screen and (max-width: 400px) {
  #fondogallery .header1 #navbarText {
    z-index: 100;
  }
  #fondogallery .carousel-change {
    width: 30rem;
    height: 50rem;
  }
  #fondogallery .gal1 {
    height: 15rem;
    transform: translate(-1rem, -50rem);
  }
  #fondogallery .gal2 {
    height: 15rem;
    transform: translate(1rem, -18rem);
  }
  #fondogallery .margins {
    margin-bottom: 1rem;
  }
}
#fondoprocess {
  background-image: url(../Imagenes/fondoprocess.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fondoprocess .header1 .navbar {
  margin-top: -4.7rem;
}
#fondoprocess .container-flex-main {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-content: center;
  margin-top: 11rem;
}
#fondoprocess .container-flex-main .div1 {
  margin-top: -3rem;
  height: 80rem;
  width: 40rem;
  border-radius: 3rem;
  background: rgb(24, 38, 53);
  background: linear-gradient(0deg, rgba(24, 38, 53, 0) 6%, rgba(24, 38, 53, 0.2329306723) 18%, rgba(30, 53, 71, 0.3757878151) 75%, rgba(5, 15, 23, 0.950017507) 100%);
}
#fondoprocess .container-flex-main .div1 .h1caract {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #216aaa;
}
#fondoprocess .container-flex-main .div1 .h2caract {
  text-align: center;
  font-size: 2rem;
}
#fondoprocess .container-flex-main .div1 .h3caract {
  display: flex;
  transform: translate(5rem, -2rem);
  font-size: 20px;
  margin-top: 6rem;
  color: #216aaa;
}
#fondoprocess .container-flex-main .div1 .pcaract {
  color: #6c757d;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}
#fondoprocess .container-flex-main .div1 .arrow2 {
  height: 34rem;
  transform: translate(9rem);
  justify-content: baseline;
  align-content: baseline;
}

/* TABLET */
@media screen and (max-width: 768px) {
  #fondoprocess .container-flex-main {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #fondoprocess .container-flex-main .div1 {
    width: 50rem;
  }
  #fondoprocess .container-flex-main .div1 .arrow2 {
    transform: translate(14rem);
  }
  #fondoprocess .navbar .button-move {
    margin-top: 1.2rem;
  }
}
/* CELULAR */
@media screen and (max-width: 500px) {
  #fondoprocess .container-flex-main {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #fondoprocess .container-flex-main .div1 {
    width: 33rem;
  }
  #fondoprocess .container-flex-main .div1 .arrow2 {
    transform: translate(4rem);
  }
  #fondoprocess .container-flex-main .div2 {
    height: 90rem;
  }
}
#fondobuytickets {
  background-image: url(../Imagenes/fondobuytickets.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fondobuytickets .header1 .navbar {
  margin-top: -4.7rem;
}
#fondobuytickets .container-flex-main {
  display: flex;
  flex-direction: row;
  gap: 11rem;
  justify-content: center;
  margin-top: 11rem;
}
#fondobuytickets .container-flex-main .div1 {
  height: 60rem;
  width: 40rem;
  border-radius: 3rem;
  background: rgb(24, 38, 53);
  background: linear-gradient(124deg, rgba(24, 38, 53, 0) 10%, rgba(24, 38, 53, 0.2665441176) 26%, rgba(30, 53, 71, 0.4542191877) 59%, rgba(5, 15, 23, 0.5970763305) 100%);
  transition: height 2s;
  transition: width 2s;
}
#fondobuytickets .container-flex-main .div1 .h1caract {
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
  color: #216aaa;
}
#fondobuytickets .container-flex-main .div1 .h2caract {
  text-align: center;
  font-size: 2rem;
  align-items: baseline;
}
#fondobuytickets .container-flex-main .div1 .h3caract {
  display: flex;
  transform: translate(5rem, -2rem);
  font-size: 20px;
  margin-top: 6rem;
  color: #216aaa;
}
#fondobuytickets .container-flex-main .div1 .pcaract {
  color: #6c757d;
  font-size: 1.7rem;
  text-align: left;
  padding: 1rem;
  list-style: none;
  margin-top: 2rem;
}
#fondobuytickets .container-flex-main .div1 .arrow2 {
  display: flex;
  height: 5rem;
  transform: translate(25rem, -5.7rem);
}
#fondobuytickets .container-flex-main .div1:hover {
  height: 63rem;
  width: 43rem;
}
#fondobuytickets .container-flex-main .div2 {
  height: 60rem;
  width: 40rem;
  border-radius: 3rem;
  background: rgb(24, 38, 53);
  background: linear-gradient(124deg, rgba(24, 38, 53, 0) 10%, rgba(24, 38, 53, 0.2665441176) 26%, rgba(30, 53, 71, 0.4542191877) 59%, rgba(5, 15, 23, 0.5970763305) 100%);
  transition: height 2s;
  transition: width 2s;
}
#fondobuytickets .container-flex-main .div2 .h1caract {
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
  color: #216aaa;
}
#fondobuytickets .container-flex-main .div2 .h2caract {
  text-align: center;
  font-size: 2rem;
  align-items: baseline;
}
#fondobuytickets .container-flex-main .div2 .h3caract {
  display: flex;
  transform: translate(5rem, -2rem);
  font-size: 20px;
  margin-top: 6rem;
  color: #216aaa;
}
#fondobuytickets .container-flex-main .div2 .pcaract {
  color: #6c757d;
  font-size: 1.7rem;
  text-align: left;
  padding: 1rem;
  list-style: none;
  margin-top: 2rem;
}
#fondobuytickets .container-flex-main .div2 .arrow2 {
  display: flex;
  height: 5rem;
  transform: translate(25rem, -5.7rem);
}
#fondobuytickets .container-flex-main .div2:hover {
  height: 63rem;
  width: 43rem;
}
#fondobuytickets .container-flex-main .div3 {
  height: 60rem;
  width: 40rem;
  border-radius: 3rem;
  background: rgb(24, 38, 53);
  background: linear-gradient(124deg, rgba(24, 38, 53, 0) 10%, rgba(24, 38, 53, 0.2665441176) 26%, rgba(30, 53, 71, 0.4542191877) 59%, rgba(5, 15, 23, 0.5970763305) 100%);
  transition: height 2s;
  transition: width 2s;
}
#fondobuytickets .container-flex-main .div3 .h1caract {
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
  color: #216aaa;
}
#fondobuytickets .container-flex-main .div3 .h2caract {
  text-align: center;
  font-size: 2rem;
  align-items: baseline;
}
#fondobuytickets .container-flex-main .div3 .h3caract {
  display: flex;
  transform: translate(5rem, -2rem);
  font-size: 20px;
  margin-top: 6rem;
  color: #216aaa;
}
#fondobuytickets .container-flex-main .div3 .pcaract {
  color: #6c757d;
  font-size: 1.7rem;
  text-align: left;
  padding: 1rem;
  list-style: none;
  margin-top: 2rem;
}
#fondobuytickets .container-flex-main .div3 .arrow2 {
  display: flex;
  height: 5rem;
  transform: translate(25rem, -5.7rem);
}
#fondobuytickets .container-flex-main .div3:hover {
  height: 63rem;
  width: 43rem;
}
#fondobuytickets .container-flex-main .background-changes {
  background-color: none;
}

/* TABLET */
@media screen and (max-width: 768px) {
  #fondobuytickets .container-flex-main {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #fondobuytickets .container-flex-main .div1 {
    width: 50rem;
    height: 60rem;
    transition: none;
  }
  #fondobuytickets .container-flex-main .div1 .div1:hover {
    display: none;
  }
  #fondobuytickets .container-flex-main .div2 {
    width: 50rem;
    height: 60rem;
  }
  #fondobuytickets .container-flex-main .div2 .div2:hover {
    display: none;
  }
  #fondobuytickets .container-flex-main .div3 {
    width: 50rem;
    height: 65rem;
  }
  #fondobuytickets .container-flex-main .div3 .div3:hover {
    display: none;
  }
  #fondobuytickets .navbar .button-move {
    margin-top: 1.2rem;
  }
}
/* CELULAR */
@media screen and (max-width: 500px) {
  #fondobuytickets .container-flex-main .div1 {
    width: 33rem;
    height: 70rem;
  }
  #fondobuytickets .container-flex-main .div1 .div1:hover {
    display: none;
  }
  #fondobuytickets .container-flex-main .div2 {
    width: 33rem;
    height: 70rem;
  }
  #fondobuytickets .container-flex-main .div2 .div2:hover {
    display: none;
  }
  #fondobuytickets .container-flex-main .div3 {
    width: 33rem;
    height: 72rem;
  }
  #fondobuytickets .container-flex-main .div3 .div3:hover {
    display: none;
  }
  #fondobuytickets .container-flex-main .navbar .button-move {
    margin-top: 5rem;
  }
}
#fondocontact {
  background-image: url(../Imagenes/fondocontactus-05.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fondocontact .header1 .navbar {
  margin-top: -4.7rem;
}
#fondocontact .background1 {
  display: grid;
  grid-template-columns: 70rem 50rem;
  grid-template-rows: 7rem 50rem;
  grid-template-areas: "text5 text5" "photo5 text6";
  background-color: rgba(105, 105, 105, 0.295);
  width: 75rem;
  height: 45rem;
  padding: 3rem;
  margin-top: 10rem;
}
#fondocontact .background1 .text5 {
  grid-area: text5;
  margin-top: -2rem;
}
#fondocontact .background1 .fschange {
  font-size: 4rem;
}
#fondocontact .background1 .more {
  grid-area: text6;
  transform: translate(-25rem, -4rem);
}
#fondocontact .background1 .submit-m {
  margin-left: 19.5rem;
}
#fondocontact .background1 .photo5 {
  grid-area: photo5;
  position: relative;
  top: -1rem;
  left: -10rem;
}

/* TABLET */
@media screen and (max-width: 768px) {
  #fondocontact .navbar .button-move {
    margin-top: 1.2rem;
  }
  #fondocontact .background1 {
    grid-template-columns: 30rem 25rem;
    grid-template-rows: 4rem 30rem 10rem;
    grid-template-areas: "text5 text5" "text6 photo5";
    width: 60rem;
    height: 48rem;
    margin-top: 5rem;
  }
  #fondocontact .background1 .more {
    transform: translate(1rem, 1rem);
    width: 30rem;
  }
  #fondocontact .background1 .photo5 {
    transform: scaleX(-1);
    position: relative;
    top: 10rem;
    left: 4rem;
  }
}
@media screen and (max-width: 500px) {
  #fondocontact .navbar .button-move {
    margin-top: -5rem;
  }
  #fondocontact .background1 {
    grid-template-columns: 35rem;
    grid-template-rows: 1rem 40rem 30rem;
    grid-template-areas: "text5" "text6" "photo5";
    width: 95rem;
    height: 90rem;
    margin-top: 5rem;
  }
  #fondocontact .background1 .more {
    position: relative;
    top: 10rem;
    left: 2.5rem;
    width: 30rem;
    height: 100%;
  }
  #fondocontact .background1 .photo5 {
    width: 10rem;
    transform: scaleX(-1);
    position: relative;
    top: 10rem;
    left: 20rem;
  }
}
@media screen and (max-width: 450px) {
  #fondocontact .navbar .button-move {
    margin-top: 2rem;
  }
  #fondocontact .background1 {
    grid-template-columns: 35rem;
    width: 38rem;
    height: 80rem;
    margin-top: 5rem;
  }
  #fondocontact .background1 .more {
    top: 10rem;
    left: 2.5rem;
    width: 25rem;
  }
  #fondocontact .background1 .photo5 {
    position: relative;
    top: 6rem;
    left: 20rem;
  }
}
#fondosignin {
  background-image: url(../Imagenes/fondoaccount-07.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fondosignin .header1 .navbar {
  margin-top: -4.7rem;
}

.mt {
  margin-top: 18rem;
}
.mt .grids-account {
  display: grid;
  grid-template-columns: 33rem 40rem 30rem;
  grid-template-rows: 50rem;
  grid-template-areas: "photo22 text20 photo11";
}
.mt .grids-account .text20 {
  margin-left: 20px;
  grid-area: text20;
}
.mt .grids-account .text20 .move3 {
  margin-top: 1rem;
}
.mt .grids-account .text20 .color2 {
  color: #6c757d;
}
.mt .grids-account .photo11 {
  grid-area: photo11;
}
.mt .grids-account .photo22 {
  grid-area: photo22;
}
.mt .grids-account .background2 {
  background-color: rgba(105, 105, 105, 0.295);
  width: 75rem;
  height: 37rem;
}
.mt .grids-account .m-photo {
  margin-left: 9rem;
}
.mt .grids-account .m-photo-3 {
  margin-left: 1rem;
}

/* TABLET */
@media screen and (max-width: 768px) {
  #fondosignin .header .navbar .button-move {
    margin-top: 1.2rem;
  }
  #fondosignin .header .logospx1 {
    height: 1rem;
  }
  .mt {
    margin-top: 18rem;
  }
  .mt .grids-account {
    grid-template-columns: 8rem 20rem 8rem;
    grid-template-rows: 20rem;
    grid-template-areas: "text20 text20 text20";
    margin-top: -9rem;
  }
  .mt .grids-account .text20 {
    margin-left: 0rem;
    grid-area: text20;
  }
  .mt .grids-account .text20 .move3 {
    margin-top: 1rem;
  }
  .mt .grids-account .photo11 {
    position: relative;
    top: -15rem;
    left: 10rem;
  }
  .mt .grids-account .photo11 .m-photo-2 {
    height: 25rem;
  }
  .mt .grids-account .photo22 {
    position: relative;
    top: -15rem;
    left: -47rem;
    width: 6rem;
  }
  .mt .grids-account .photo22 .m-photo-2 {
    height: 25rem;
  }
  .mt .grids-account .background2 {
    width: 70rem;
    height: 37rem;
  }
}
@media screen and (max-width: 500px) {
  #fondosignin .navbar .button-move {
    margin-top: 1.8rem;
  }
  #fondosignin .mt {
    margin-top: 15rem;
  }
  #fondosignin .mt .grids-account {
    grid-template-columns: 0rem 35rem 0rem;
    grid-template-rows: 30rem;
    grid-template-areas: "none text20 none";
    margin-top: none;
    width: 10rem;
  }
  #fondosignin .mt .grids-account .text20 {
    width: 30rem;
  }
  #fondosignin .mt .grids-account .background2 {
    width: 35rem;
    height: 37rem;
  }
  #fondosignin .mt .grids-account .photo11 {
    position: relative;
    top: -4rem;
    left: -29rem;
  }
  #fondosignin .mt .grids-account .photo22 {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  #fondosignin .mt .grids-account {
    grid-template-columns: 0rem 25rem 0rem;
    grid-template-rows: 30rem;
  }
  #fondosignin .mt .grids-account .text20 {
    width: 30rem;
  }
  #fondosignin .mt .grids-account .background2 {
    width: 30rem;
    height: 37rem;
  }
  #fondosignin .mt .grids-account .photo11 {
    position: relative;
    top: -5rem;
    left: -25rem;
  }
}
@keyframes move {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(0rem 20rem);
  }
  100% {
    transform: translate(0rem -20rem);
  }
}
html {
  font-size: 62.5%;
}

p {
  font-size: 1.5rem;
}

* {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #6c757d;
}

/* HEADER Y FOOTER INICIO */
.fondomain {
  background-image: url(../Imagenes/fondomain.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header1 {
  z-index: 10000;
}
.header1 .logospx1 {
  width: 52rem;
  margin-top: 8rem;
  margin-left: 4rem;
}
.header1 .subtitle {
  font-size: 2rem;
  margin-left: 4rem;
}
.header1 .navbar {
  margin-top: -8.5rem;
}
.header1 .navbar .navbar-nav {
  font-size: 3rem;
  gap: 2rem;
}
.header1 .navbar .navbar-nav .nav-item {
  background-color: none;
}
.header1 .navbar .navbar-nav .nav-item .underline {
  display: inline-block;
  position: relative;
}
.header1 .navbar .navbar-nav .nav-item .underline:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  bottom: 0;
  left: 0;
  background-color: #6c757d;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.header1 .navbar .navbar-nav .nav-item .underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header1 .navbar .navbar-nav .nav-item .underline2 {
  text-decoration: overline;
}

.footer1 {
  display: flex;
  margin-top: 72rem;
  justify-content: center;
}
.footer1 .footer2 {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 10rem;
  grid-template-rows: 2rem 3rem;
  grid-template-areas: "spacex spacex spacex spacex" "sm sm sm sm";
  justify-items: center;
  align-items: center;
  gap: 5px;
}
.footer1 .footer2 .grids4 {
  grid-area: spacex;
}
.footer1 .footer2 .grids5 {
  grid-area: sm;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .fondomain {
    background-image: url(../Imagenes/themoonmovil.png);
  }
  .header1 .subtitle {
    font-size: 2rem;
    margin-left: 30%;
    width: 20rem;
  }
  .header1 .logospx1 {
    width: 30rem;
    margin-left: 30%;
  }
  .header1 .navbar .navbar-nav {
    font-size: 3rem;
    gap: 0.7rem;
  }
  .header1 .navbar .navbar-nav .nav-item {
    color: #6c757d;
    background-color: rgb(255, 255, 255);
    border-radius: 0.7rem;
    font-size: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
  }
  .header1 .navbar .button-move {
    transform: translate(-15rem);
  }
}
@media screen and (max-width: 500px) {
  .fondomain {
    background-image: url(../Imagenes/themoonmobile.png);
  }
  .header1 .logospx1 {
    width: 25rem;
    margin-left: 10%;
  }
  .header1 .subtitle {
    font-size: 1.5rem;
    margin-left: 10%;
  }
  .header1 .navbar .button-move {
    margin-right: -25%;
    margin-top: 2rem;
  }
  .footer1 .footer2 {
    grid-template-columns: 10rem 10rem 10rem 2rem;
  }
  .footer1 .footer2 .fot-fs-change {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 350px) {
  .header1 .navbar .button-move {
    margin-right: -45%;
    margin-top: 2rem;
  }
}
/* HEADER Y FOOTER FIN */

/*# sourceMappingURL=styles.css.map */
