@mixin tamanos2{
    width: 55em;
    height: 55rem;
}

#fondoaboutus{
    background-image: url(../Imagenes/fondoaboutus.png);
    background-repeat: no-repeat;
    background-size: cover;
        .contenedor-total-2{
            display: grid;
            grid-template-columns: 70rem 60rem 60rem;
            grid-template-rows: 25rem 35rem 25rem 35rem ;
            grid-template-areas:
            "video text3 photo2"
            "video text3 photo2"
            "text4 video2 photo2"
            "text4 video2 photo2";
            justify-items: center;
            align-items: center;
            gap: 5px;
            padding: 11rem;
            .video{
                grid-area: video;
                @include tamanos2;
                .iframe{
                    @include tamanos2;
                }
                }
            }
            .photo{
                grid-area: photo;
                .elon1{
                    width: 47rem;
                }
            }
            .photo2{
                grid-area: photo2;
                .spacexrocket{
                    width: 20rem;
                }
            }
            .text2{
                grid-area: text3;
                padding: 4rem;
                height: 55rem;
                width: 55rem;
                border-radius: 3rem;
                text-align: center;
                background: rgb(24,38,53);
                background: linear-gradient(51deg, rgba(24,38,53,0) 21%, rgba(24,38,53,0.2329306722689075) 34%, rgba(30,53,71,0.3757878151260504) 75%, rgba(13,34,51,0.8323704481792717) 100%);
            }
            .video2{
                grid-area: video2;
                @include tamanos2;
                .iframe{
                    @include tamanos2;
                }
            }
            .text4{
            grid-area: text4;
            padding: 4rem;
            height: 55rem;
            width: 55rem;
            border-radius: 3rem;
            text-align: center;
            background: rgb(24,38,53);
            background: linear-gradient(223deg, rgba(24,38,53,0) 21%, rgba(24,38,53,0.2329306722689075) 34%, rgba(30,53,71,0.3757878151260504) 75%, rgba(13,34,51,0.8323704481792717) 100%);
            }
            .photo3{
            grid-area: photo3;
                .elon1{
                    width: 47rem;
                }
            }
        }
    



