
@mixin flex-center{
    display: flex;
    justify-content: center;
}


@mixin cards{
    height: 60rem;
    width: 40rem;
    border-radius: 3rem;
    background: rgb(24,38,53);
    background: linear-gradient(124deg, rgba(24,38,53,0) 10%, rgba(24,38,53,0.2665441176470589) 26%, rgba(30,53,71,0.4542191876750701) 59%, rgba(5,15,23,0.5970763305322129) 100%);
    transition: height 2s;
    transition: width 2s;
    .h1caract{
        text-align: center;
        font-size: 3rem;
        margin-top: 4rem;
        color: $ColorCards;
    }
    .h2caract{
        text-align: center;
        font-size: 2rem;
        align-items: baseline;
        
    }
    .h3caract{
        display: flex;
        transform: translate(5rem, -2rem);
        font-size: 20px;
        margin-top: 6rem;
        color: $ColorCards;
    }
    .pcaract{
        color: $ColorPrincipal;
        font-size: 1.7rem;
        text-align: left;
        padding: 1rem;
        list-style: none;
        margin-top: 2rem;   
    }
    .arrow2{
        display: flex;
        height: 5rem;
        transform: translate(25rem, -5.7rem);
    }

}

#fondobuytickets{
    background-image: url(../Imagenes/fondobuytickets.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container-flex-main{
        display: flex;
        flex-direction: row;
        gap: 11rem;
        justify-content: center;
        margin-top: 11rem;
        .div1{
            @include cards;
        }
        .div1:hover{
            height: 63rem;
            width: 43rem
        }
        .div2{
            @include cards;
        }
        .div2:hover{
            height: 63rem;
            width: 43rem
        }
        .div3{
            @include cards;
        }
        .div3:hover{
            height: 63rem;
            width: 43rem
        }
        .background-changes{
            background-color: none;
        }
    }
}

/* TABLET */
@media screen and (max-width: 768px){

.navbar{
        font-size: .6rem;
        align-content: center;
        justify-items: center;
    }

#fondobuytickets{
    .container-flex-main{
        flex-direction: column;
        align-items: center;
    }
    .button-move{
        margin-right: 9rem;
        margin-top: 1rem;
    }
}
}

/* CELULAR */
@media screen and (max-width: 500px){

    #fondobuytickets{
        .container-flex-main{
            flex-direction: column;
            align-items: center;
            margin-left: 7rem;
        }
        .button-move{
            margin-right: -4rem;
            margin-top: 1rem;
        }
    }
}
