#fondocontact{
    background-image: url(../Imagenes/fondocontactus-05.png);
    background-repeat: no-repeat;
    background-size: cover;
    .header1{
        .navbar{
            margin-top: -4.7rem;
        }
    }
    .background1{
        display: grid;
        grid-template-columns: 60rem 30rem;
        grid-template-rows: 7rem 50rem;
        grid-template-areas:
        "text5 text5"
        "photo5 text6";
        background-color: $FondoTransparente;
        width: 75rem;
        height: 45rem;
        padding: 3rem;
        margin-top: 10rem;
        .text5{
            grid-area: text5;
            margin-top: -2rem;
            }   
            .fschange{
                font-size: $FontSizeh2;
                }
        .more{
            grid-area: text6;
            transform: translate(-25rem, -4rem);
            }
            .submit-m{
                margin-left: 19.5rem;
                }
        .photo5{
            grid-area: photo5;
            position: relative;
            top: -1rem; left: -10rem;
            }
    }
}

/* TABLET */
@media screen and (max-width: 768px){

#fondocontact{
    .navbar{
        .button-move{
            margin-top: 1.2rem;
        }
    }
    .background1{
        grid-template-columns: 30rem 25rem;
        grid-template-rows: 4rem 30rem 10rem;
        grid-template-areas:
        "text5 text5"
        "text6 photo5";
        width: 60rem;
        height: 48rem;
        margin-top: 5rem;
            .more{
                transform: translate(1rem, 1rem);
                width: 30rem;
                }
            .photo5{
                transform: scaleX(-1);
                position: relative;
                top: 10rem; left: 4rem;
            }
    }
}
}
@media screen and (max-width: 500px){

#fondocontact{
    .navbar{
        .button-move{
            margin-top: -5rem;
        }
    }
    .background1{
        grid-template-columns:35rem;
        grid-template-rows: 1rem 40rem 30rem;
        grid-template-areas:
        "text5"
        "text6"
        "photo5";
        width: 95rem;        
        height: 90rem;
        margin-top: 5rem;
            .more{
                position: relative;
                top: 10rem; left: 2.5rem;;
                width: 30rem;
                height: 100%;
                }
            .photo5{
                width: 10rem;
                transform: scaleX(-1);
                position: relative;
                top: 10rem; left: 20rem;
            }
            }
    }
}

@media screen and (max-width: 450px){

    #fondocontact{
        .navbar{
            .button-move{
                margin-top: 2rem;
            }
        }
        .background1{
            grid-template-columns:35rem;
            width: 38rem;        
            height: 80rem;
            margin-top: 5rem;
                .more{
                    top: 10rem; left: 2.5rem;;
                    width: 25rem;
                    }
                .photo5{
                    position: relative;
                    top: 6rem; left: 20rem;
                }
                }
        }
    }