#fondogallery{
    background-image: url(../Imagenes/fondogallery.png);
    background-repeat: no-repeat;
    background-size: cover;
    .carousel-change{
        line-height:300px;
        margin:0px auto;
        text-align:center;
        justify-content: center;
        align-content: center;
        .carousel-change-2{
            height: 70rem;
        }
        .arrow{
            width: 11rem;
            height: 10rem;   
        }
    }
    .margins{
        margin-bottom: -40rem;
    }
    .gal1{
        transform: translate(130rem, -20rem);
        z-index: -10000;
    }
    .gal2{
        transform: translate(-45rem, -10rem);
        z-index: -10000;
    }
}


@media screen and (max-width: 768px){

#fondogallery{
    background-image: url(../Imagenes/gallery-mobile-09.png);
    .header1{
        .logospx1{
            width: 40rem;
        }
        #navbarText{
        z-index: 100;
        }
    }
    .carousel-change{
        margin-top: 2rem;
        width: 65rem;
        height: 60rem;
    }
    .row-mobile{
        display: none;
    }
    .gal1{
        height: 25rem;
        transform: translate(-3rem, -20rem);
    }
    .gal2{
        height: 25rem;
        transform: translate(26rem, 20rem);
    }
    .arrow{
        width: 1rem;
        height: 1rem;   
    }
}
}
@media screen and (max-width: 500px){
    #fondogallery{
.header1{
    .logospx1{
        width: 25rem;
    }
    #navbarText{
        z-index: 100;
    }
}
.carousel-change{
    margin-top: 1rem;    
    width: 40rem;
    height: 45rem;  
}  
.gal1{
    height: 15rem;
    transform: translate(-1rem, -9rem);
}
.gal2{
    height: 15rem;
    transform: translate(7rem, 30rem);
}
.row-mobile{
    display: none;
}
.button-move{
    margin-right: 1rem;
    margin-top: 1rem;
}
}
}