/* MAIN INICIO */

.fondomain{
    background-image: url(../Imagenes/fondomain.png);
    background-repeat: no-repeat;
    background-size: cover;
    footer1 {
        display: flex;
        margin-top: 75rem;
        justify-content: center;
        footer2{
            display: grid;
            grid-template-columns: 10rem 10rem 10rem 10rem;
            grid-template-rows: 2rem 3rem;
            grid-template-areas:
            "spacex spacex spacex spacex"
            "sm sm sm sm";
            justify-items: center;
            align-items: center;
            gap: 5px;
            grids4{
                grid-area: spacex;
            }
            grids5{
                grid-area: sm;
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width: 768px){

.fondomain{
    background-image: url(../Imagenes/themoonmovil.png);
    footer1{
        margin-top: 85rem;
    }
}
}

@media screen and (max-width: 500px){

.fondomain{
    background-image: url(../Imagenes/themoonmobile.png);
    footer1{
    margin-top: 94rem;
    }
}
}