@mixin cards{
    margin-top: -3rem;
    height: 80rem;
    width: 40rem;
    border-radius: 3rem;
    background: rgb(24,38,53);
    background: linear-gradient(0deg, rgba(24,38,53,0) 6%, rgba(24,38,53,0.2329306722689075) 18%, rgba(30,53,71,0.3757878151260504) 75%, rgba(5,15,23,0.9500175070028011) 100%);
    .h1caract{
        text-align: center;
        font-size: 2.5rem;
        margin-top: 2rem;
        color: $ColorCards;
    }
    .h2caract{
        text-align: center;
        font-size: 2rem;
    }
    .h3caract{
        display: flex;
        transform: translate(5rem, -2rem);
        font-size: 20px;
        margin-top: 6rem;
        color: $ColorCards;
    }
    .pcaract{
        color: $ColorPrincipal;
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem;
        margin-top: 2rem;
    }
    .arrow2{
        height: 34rem;
        transform: translate(9rem,);
        justify-content: baseline;
        align-content: baseline;
    }

}

#fondoprocess{
    background-image: url(../Imagenes/fondoprocess.png);
    background-repeat: no-repeat;
    background-size: cover;
    .header1{
        .navbar{
            margin-top: -4.7rem;
    }
    }
    .container-flex-main{
        display: flex;
        flex-direction: row;
        gap: 6rem;
        justify-content: center;
        margin-top: 11rem;
        .div1{
            @include cards;
        }
    }
}

/* TABLET */
@media screen and (max-width: 768px){

#fondoprocess{
    .container-flex-main{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        .div1{
            width: 50rem;
            .arrow2{
                transform: translate(14rem,);
            }
        }
    }
    .navbar{
        .button-move{
            margin-top: 1.2rem;
        }
    }
}
}

/* CELULAR */
@media screen and (max-width: 500px){
    
#fondoprocess{
    .container-flex-main{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        .div1{
            width: 33rem;
            .arrow2{
                transform: translate(4rem,);
            }
        }
        .div2{
            height: 90rem;
        }
    }

}
}