#fondosignin{
    background-image: url(../Imagenes/fondoaccount-07.png);
    background-repeat: no-repeat;
    background-size: cover;
    .mt{
        margin-top: 18rem;
        .grids-account{
            display: grid;
            grid-template-columns: 33rem 40rem 30rem ;
            grid-template-rows:50rem ;
            grid-template-areas:
            "photo22 text20 photo11";
            .text20{
                margin-left: 20px;
                grid-area: text20;
                .move3{
                    margin-top: 1rem;
                }
                .color2{
                    color: $ColorPrincipal;
                }
            }
            .photo11{
                grid-area: photo11;
                animation-name: move1;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 5s;
            }
            .photo22{
                grid-area: photo22;
                animation-name: move2;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 5s;
            }
            .background2{
                background-color: $FondoTransparente;
                width: 75rem;
                height: 37rem;
            }
            .m-photo{
                margin-left: 9rem;
                }
            .m-photo-3{
                margin-left: 1rem;
                }
            .z-index{
                z-index: 1000;
            }
        }
    }
}

/* TABLET */
@media screen and (max-width: 768px){

#fondosignin{
    .navbar{
        .button-move{
            margin-top: 5rem;
        }
        .logospx{
            height: 1rem;
        }
    }
    .mt{
        margin-top: 18rem;
        .grids-account{
            grid-template-columns: 20rem ;
            grid-template-rows:40rem;
            grid-template-areas:
            "text20";
            margin-top: -14rem;
            .text20{
                width: 30rem;
            }
            .background2{
                width: 40rem;
                height: 37rem;
            }
                .m-photo-2{
                    width: 5rem;
                }
                .photo11{
                    transform: translate(-25rem, -25rem);
                }
                .photo22{
                    transform: translate(-25rem, -25rem);
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    
    #fondosignin{
        .navbar{
            .button-move{
                margin-top: 5rem;
            }
        }
        .background2{
            grid-template-columns:100%;
            grid-template-rows: 4rem 30rem 10rem;
            grid-template-areas:
            "text5"
            "text6"
            "photo5";
            width: 40rem;
            height: 70rem;
            margin-top: 5rem;
                .more{
                    transform: translate(1rem, 1rem);
                    width: 60rem;
                    }
                .photo5{
                    width: 70rem;
                    transform: translate(-1rem, 10rem);
                }
        }
    }
    }
    