@import "variables.scss";
@import "Other.scss";
@import "Main.scss";
@import "AboutUs.scss";
@import "Gallery";
@import "Process";
@import "BuyTickets";
@import "Contact";
@import "SignIn";

@mixin flex-center{
    display: flex;
    justify-content: center;
}


@mixin tamanos ($height, $width){
    height: $height;
    width: $width;
}